<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- v-cloak hides any un-compiled data bindings until the Vue instance is ready. -->

    <form id="main" v-cloak>

        <h1>سرویس ها</h1>

        <ul>
            <!-- Loop through the services array, assign a click handler, and set or
                     remove the "active" css class if needed -->
            <li v-for="service in services" v-on:click="toggleActive(service)" v-bind:class="{ 'active': service.active}">
                <!-- Display the name and price for every entry in the array .
                        Vue.js has a built in currency filter for formatting the price -->
                {{service.name}} <span>{{service.price | currency}}</span>
            </li>
        </ul>

        <div class="total">
            <!-- Calculate the total price of all chosen services. Format it as currency. -->
            جمع کل <span>{{total() | currency}}</span>
        </div>

    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
    <script src="main.js"></script>
</body>

</html>