<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="main">
        <nav v-bind:class="active" v-on:click.prevent>

            <!-- When a link in the menu is clicked, we call the makeActive method, 
                            defined in the JavaScript Vue instance. It will change the value of "active". -->

            <a href="#" class="home" v-on:click="makeActive('home')">صفحه اصلی</a>
            <a href="#" class="projects" v-on:click="makeActive('projects')">پروژه ها</a>
            <a href="#" class="services" v-on:click="makeActive('services')">سرویس ها</a>
            <a href="#" class="contact" v-on:click="makeActive('contact')">تماس با ما</a>
        </nav>

        <!-- The mustache expression will be replaced with the value of "active".
                             It will automatically update to reflect any changes. -->

        <p>انتخاب شما: <b>{{active}}</b></p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
    <script src="main.js"></script>
</body>

</html>